﻿@model FreeProject.Dtos.UserDto

<h2>CreateUser</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger">@ViewData["no_user"]</span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger">@ViewData["no_password"]</span>
            </div>
            <div class="form-group">
                <input asp-controller="User" asp-action="Create" type="submit" value="Create" class="btn btn-default" />
                <input asp-controller="User" asp-action="Login" type="submit" value="Login" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>

