﻿@model FreeProjectApi.Dtos.UserDto

@{
    ViewData["Title"] = "Login";
}

<!--Html.DropDownListFor(model => model.Civility.LabelCivility, new List<SelectListItem>(ViewBag.Civility)) -->
<h2>Login</h2>

<h4>@ViewData["utilisateur"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-controller="User" asp-action="Login" type="submit" value="Create" class="btn btn-default" />
                @ViewData["no_user"]
            </div>
        </form>
    </div>
</div>

