﻿@model FreeProject.Dtos.OperationDto
@inject FreeProject.Services.OperationTypeService operationTypeService
@{
    ViewData["Title"] = "CreateOperation";

}

<h2>CreateOperation</h2>

<h4>OperationDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOperation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" type="number" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOperationType" class="control-label"></label>
                @Html.DropDownListFor(op => op.IdOperationType, operationTypeService.GetListItem());
                <span asp-validation-for="IdOperationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-controller="Operation" asp-action="Create" type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="OperationList">Back to List</a>
</div>

