﻿@model IEnumerable<FreeProject.Dtos.OperationDto>

@{
    ViewData["Title"] = "OperationList";
}

<h2>OperationList</h2>

<p>
    <a asp-action="CreateOperation">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OperationType.LabelOperationType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationType.LabelOperationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.ActionLink("Details", "OperationDetails", "Operation", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="AccountList" asp-controller="Account">Back to List</a>
</div>
