﻿@model FreeProject.Dtos.OperationDto

@{
    ViewData["Title"] = "OperationDetail";
}

<h2>OperationDetail</h2>

<div>
    <h4>OperationDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdOperationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdOperationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="OperationList">Back to List</a>
</div>
