﻿@using FreeProject.Utils
@model Pagination<FreeProject.Dtos.AccountDto>

@{
    ViewData["Title"] = "AccountList";
}
<h2>AccountList</h2>

<p>
    <a asp-action="CreateAccount">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Label
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @Html.ActionLink("Details", "OperationList", "Operation", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="AccountList"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="AccountList"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>