﻿@model FreeProject.Dtos.AccountDto

@{
    ViewData["Title"] = "CreateAccount";
}

<h2>CreateAccount</h2>

<h4>AccountDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-controller="Account" asp-action="Create" type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AccountList">Back to List</a>
</div>

